body{
    margin: 0px;
    height: 100%;
    padding: 0px;
    /* background-image */
    background-image: url(IMG/cosmetics-makeup-scaled.jpg);
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-position: 0px 80px;
}
.nav{
    background-color: #d9b4b0;
    height: 83px;
}

.mid{
    display: inline-block;
    position: absolute;
    margin: -11px auto;
    width: 50%;
    padding-left: 28%;
    
}
.mid li{
    display: inline-block;
    margin:  15px auto;
    padding: 10px;
    text-align: center;
    ;
}
.mid a{
    text-decoration: none;
    color:  rgb(99,8,8);
    font-weight: 0;
    font-size: 24px;
}
a:hover{
    color: rgb(161, 87, 87);
    text-shadow: cadetblue;
}
.search{
    display: inline-block;
    position: absolute;
    right: 21px;
    top: 18px;
}
.btn{
    display: inline-block;
    margin:  5px auto;
    padding: 10px;
    text-align: center;
    width: 102%;
    height: 20%;
    border-radius: 5px;
    border:2px solid #a77777;
}
.logo img{
    display: inline-block;
    margin:  15px auto;
    padding: 10px;
    text-align: center;
    
}
 .logo{
    display:inline-block;
    position: absolute;
    top: 34px;
    right: 20px;
 }
 img{
     margin: 1px;
     height: 10%;
     width: 6%;
     border: 2px solid black;
     margin-left: 1%;
 }
.centertext{
     margin: 10%;
     margin-bottom: 1px;
     margin-right: 41%;
     margin-top: 7%;
     margin-left: 5%;

 }
 .centertext h1{
     color: #934646;
     font-size: 500%;
     font-family:brush script MT;
 }
 .centertext p{
     margin-top: -9%;
     color: #cf6569;
     font-size: 166%;
     font-family: open-sans;
 }
.input{
     margin: 10%;
     margin-top: 1px;
     margin-bottom: 1px;
     margin-right: 50PX;
     margin-left: 5%;
 }
 input{
     border-radius: 7px;
     width: 46%;
     height: 50px;
     border: 2px solid #a29f9f;
 }